<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <payaraPath>/media/WORKSPACE/WORKSPACE/workspace-java/servers/payara6</payaraPath>
    <ip>192.168.0.100</ip>
    <payaraPort>4848</payaraPort>
    <dbPort>5430</dbPort>
    <user>postgres</user>
    <password>t00r</password>
    <database>banco01</database>
    <poolId>banco01</poolId>
</config>
